In [38]:
#DATA MANIPULATION
import pandas as pd
countries_df = pd.read_csv(r'C:\Users\SAGAVERM\Desktop\DA dataset\top_10_countries.csv')
countries_df

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [39]:
print(countries_df.shape) 
print(countries_df.columns)
print(countries_df.index)

(10, 6)
Index(['Rank', 'Country / Dependency', 'Region', 'Population', '% of world',
       'Date'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)

In [40]:
#rename function to change column/ index name
countries_df.rename(columns= {'Country / Dependency': 'Country'}, inplace = True)
countries_df

   Rank         Country    Region     Population % of world       Date
0     1           China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2           India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3   United States  Americas    333,073,186      4.20%  18-Jan-22
3     4    Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5        Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6          Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7         Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8      Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9       Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10          Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [41]:
#drop function to remove column or rows
#countries_df.drop(labels= 'Date', axis= 1, inplace=False)
#same can be performed in the below way
countries_df.drop(columns='Date', inplace=True)
countries_df

   Rank         Country    Region     Population % of world
0     1           China      Asia  1,412,600,000     17.80%
1     2           India      Asia  1,386,946,912     17.50%
2     3   United States  Americas    333,073,186      4.20%
3     4    Indonesia[b]      Asia    271,350,000      3.42%
4     5        Pakistan      Asia    225,200,000      2.84%
5     6          Brazil  Americas    214,231,641      2.70%
6     7         Nigeria    Africa    211,401,000      2.67%
7     8      Bangladesh      Asia    172,062,576      2.17%
8     9       Russia[b]    Europe    146,171,015      1.84%
9    10          Mexico  Americas    126,014,024      1.59%

In [42]:
countries_df.dtypes

Rank           int64
Country       object
Region        object
Population    object
% of world    object
dtype: object

In [43]:
countries_df['Country/Region'] = countries_df['Region']+ '/' + countries_df['Country']
countries_df

,Rank,Country,Region,Population,% of world,Country/Region
0,1,China,Asia,"1,412,600,000",17.80%,Asia/ China
1,2,India,Asia,"1,386,946,912",17.50%,Asia/ India
2,3,United States,Americas,"333,073,186",4.20%,Americas/ United States
3,4,Indonesia[b],Asia,"271,350,000",3.42%,Asia/ Indonesia[b]
4,5,Pakistan,Asia,"225,200,000",2.84%,Asia/ Pakistan
5,6,Brazil,Americas,"214,231,641",2.70%,Americas/ Brazil
6,7,Nigeria,Africa,"211,401,000",2.67%,Africa/ Nigeria
7,8,Bangladesh,Asia,"172,062,576",2.17%,Asia/ Bangladesh
8,9,Russia[b],Europe,"146,171,015",1.84%,Europe/ Russia[b]
9,10,Mexico,Americas,"126,014,024",1.59%,Americas/ Mexico

In [46]:
#changing column datatype
countries_df['Population'] = countries_df.Population.str.replace(',','')
countries_df['Population'] = countries_df.Population.astype(int)

In [49]:
countries_df['Population (mil)'] = countries_df['Population']/1000000
countries_df

,Rank,Country,Region,Population,% of world,Country/Region,Population (mil)
0,1,China,Asia,1412600000,17.80%,Asia/ China,1412.600000
1,2,India,Asia,1386946912,17.50%,Asia/ India,1386.946912
2,3,United States,Americas,333073186,4.20%,Americas/ United States,333.073186
3,4,Indonesia[b],Asia,271350000,3.42%,Asia/ Indonesia[b],271.350000
4,5,Pakistan,Asia,225200000,2.84%,Asia/ Pakistan,225.200000
5,6,Brazil,Americas,214231641,2.70%,Americas/ Brazil,214.231641
6,7,Nigeria,Africa,211401000,2.67%,Africa/ Nigeria,211.401000
7,8,Bangladesh,Asia,172062576,2.17%,Asia/ Bangladesh,172.062576
8,9,Russia[b],Europe,146171015,1.84%,Europe/ Russia[b],146.171015
9,10,Mexico,Americas,126014024,1.59%,Americas/ Mexico,126.014024

In [50]:
#to remove the % sign from column
countries_df['% of world']=countries_df['% of world'].apply(lambda x: x[:-1])
countries_df

,Rank,Country,Region,Population,% of world,Country/Region,Population (mil)
0,1,China,Asia,1412600000,17.80,Asia/ China,1412.600000
1,2,India,Asia,1386946912,17.50,Asia/ India,1386.946912
2,3,United States,Americas,333073186,4.20,Americas/ United States,333.073186
3,4,Indonesia[b],Asia,271350000,3.42,Asia/ Indonesia[b],271.350000
4,5,Pakistan,Asia,225200000,2.84,Asia/ Pakistan,225.200000
5,6,Brazil,Americas,214231641,2.70,Americas/ Brazil,214.231641
6,7,Nigeria,Africa,211401000,2.67,Africa/ Nigeria,211.401000
7,8,Bangladesh,Asia,172062576,2.17,Asia/ Bangladesh,172.062576
8,9,Russia[b],Europe,146171015,1.84,Europe/ Russia[b],146.171015
9,10,Mexico,Americas,126014024,1.59,Americas/ Mexico,126.014024

In [53]:
countries_df['% of world'] = countries_df['% of world'].astype(float)
countries_df['Population'] = countries_df['Population'].astype(float)

In [63]:
countries_df['Population/%of world'] = ((countries_df['Population'])/(countries_df['% of world']/100))
countries_df['Population/%of world'] = countries_df['Population/%of world'].apply(lambda x: '{:.2f}'.format(x))
countries_df

,Rank,Country,Region,Population,% of world,Country/Region,Population (mil),Population/%of world
0,1,China,Asia,1.412600e+09,17.80,Asia/ China,1412.600000,7935955056.18
1,2,India,Asia,1.386947e+09,17.50,Asia/ India,1386.946912,7925410925.71
2,3,United States,Americas,3.330732e+08,4.20,Americas/ United States,333.073186,7930313952.38
3,4,Indonesia[b],Asia,2.713500e+08,3.42,Asia/ Indonesia[b],271.350000,7934210526.32
4,5,Pakistan,Asia,2.252000e+08,2.84,Asia/ Pakistan,225.200000,7929577464.79
5,6,Brazil,Americas,2.142316e+08,2.70,Americas/ Brazil,214.231641,7934505222.22
6,7,Nigeria,Africa,2.114010e+08,2.67,Africa/ Nigeria,211.401000,7917640449.44
7,8,Bangladesh,Asia,1.720626e+08,2.17,Asia/ Bangladesh,172.062576,7929150967.74
8,9,Russia[b],Europe,1.461710e+08,1.84,Europe/ Russia[b],146.171015,7944076902.17
9,10,Mexico,Americas,1.260140e+08,1.59,Americas/ Mexico,126.014024,7925410314.47